.form-section {
    background-color: #FACFAD;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }

.form-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    text-align: left;
}

.form-inputs input, .form-inputs textarea {
  height: 42px;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-section legend {
    background-color: #F2AA7E;
    padding: 1rem;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    display: block;
    margin: 1rem 1rem 2rem;
}

  .form__input label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }

  .form__actions {
    text-align: right;
  }

  .form__actions button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #F5AC72;
    background-color: #F5AC72;
    color: black;
    border-radius: 12px;
    margin: 1rem 1rem 1rem 0;
    text-align: right;
  }

  .form__actions button:hover,
  .form__actions button:active {
    background-color: #F8BD7F;
    border-color: #F8BD7F;
  }

  .form__actions button.alternative {
    color: #3E4E50;
    border-color: transparent;
    background-color: transparent;
  }

  .form__actions button.alternative:hover,
  .form__actions button.alternative:active {
    background-color: #F2AA7E;
  }
